
.sidebar {
  position: fixed;
  width: 17em;
  top: 50px; 
  bottom: 0;
  overflow-y: auto; 
  background-color: #c9d3d0;
}


.sidebar-nav {
  padding-bottom: 2em; /* Adjusted for spacing */
}

.header {
  background-color: #c9d3d0;
  width: 100%;
  padding: 0.75em 1em;
  color: red;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p {
  margin: 0;
}


.appc {
  height: calc(100vh - 50px); 
}
