
.form {
    transform: scale(1.2); /* Scale to make it bigger */
    background-color: #ffffff;
    width: 420px; /* Adjusted width */
    height: 320px; /* Adjusted height */
    box-sizing: border-box;
    padding: 44px;
    margin: auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
}

.form .title {
    color: #1b1b1b;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px; /* Reduced margin bottom */
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

.form .email {
    width: 100%;
    padding: 6px 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    height: 36px;
    outline: none;
    background-color: transparent;
    color: #000000;
    margin-bottom: 16px;
}

.form .email:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

.form .text {
    color: #1b1b1b;
    font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 16px;
    font-size: .8125rem;
}

.form .text a {
    color: #026553;
}

.form .button_row {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Adjusted to flex-end */
    gap: 4px;
    margin-top: auto; /* Push button row to the bottom */
}

.form .button_row .button {
    width: 108px;
    height: 32px;
    padding: 4px 12px; /* Adjusted padding */
    border: none;
    font-size: 15px;
}

.form .button_row .secondary_button {
    background-color: rgba(0,0,0,0.2);
    color: #000;
    cursor: pointer;
}

.form .button_row .secondary_button:hover {
    background-color: rgba(0,0,0,0.3);
}

.form .button_row .primary_button {
    background-color: #026553;
    color: #ffffff;
    cursor: pointer;
}

.form .button_row .primary_button:hover {
    background-color: #026553;
}
